


body{
  font-family: Arial;
  font-size: 14pt;
  }

h1{
  font-family: Arial;
  font-size: 30pt;
  font-weight: bold;
  }

h2{
  font-family: Arial;
  font-size: 24pt;
  font-weight: bold;
  }

h3{
  font-family: Arial;
  font-size: 20pt;
  font-weight: bold;
  }

h4{
  font-family: Arial;
  font-size: 18pt;
  font-weight: bold;
  }

h5{
  font-family: Arial;
  font-size: 14pt;
  font-weight: bold;
  }

h6{
  font-family: Arial;
  font-size: 12pt;
  font-weight: bold;
  }
  
  
  
